body {
  background-color: #d1ffd6;
}

.container {
  text-align: center;
}

.header {
  border-bottom: 2px groove #bfbfbf;
  margin-bottom: 30px;
  margin-right: 40px;
  margin-left: 40px;
}

h2 {
  padding-top: 30px;
}

img {
  height: 400px;
  width: 400px;
  object-fit: contain;
  padding: 30px;
}

input {
  justify-content: center;
  padding: 6px;
}

.submit-meme {
  padding: 6px;
}

.custom-meme {
  display:flex;
  justify-content: center;
}
