.container {
  text-align: center;
}

h1 {
  margin-bottom: 60px;
}

img {
  height: 400px;
  width: 400px;
  object-fit: contain;
  padding: 30px;
}

form {
}

.custom-meme {
  display:flex;
  justify-content: center;
}
